* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body, h1, h2, h3, h4, h5, h6, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.dark-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 3;
    transition: .5s;
    display: none;
}

.bg {
    display: block;
}

.header {
    width: 100%;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    z-index: 2;
}

.container {
    max-width: 73.75rem;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #005BFE;
    margin-left: 34px;
    margin-top: 1px;
}

.header__title::after {
    content: '';
    position: absolute;
    background-image: url('contact-book.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 22px;
    top: 1.5rem;
    right: 35.6rem;
}

.add-contact {
    margin-left: 625px;
    background-color: #F81155;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    height: 36px;
    line-height: 18px;
    margin-right: -27px;
    min-width: 178px;
    padding: 8px 38px 10px 14px;
    transition: 0.3s;
    cursor: pointer;
    z-index: 2;
}

.plus-icon {
    width: 10.5px;
    margin-left: 20.75px;
    margin-right: -23px;
}

.add-contact:hover {
    background-color: #D1003E;
}

.groups {
    margin-right: 10px;
    background-color: #005BFE;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    height: 36px;
    line-height: 18px;
    margin-right: 0px;
    margin-left: -23px;
    min-width: 82px;
    padding: 8px 14px 10px 14px;
    transition: 0.3s;
    cursor: pointer;
    z-index: 2;
}

.groups:hover {
    background-color: #0047C6;
}

.main {
    background-color: #f6f7f9;
    position: relative;
}

.main__wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.main__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    opacity: 0.3;
    display: none;
}

.contact__groups {
    width: 312px;
    height: 100vh;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    backdrop-filter: blur(5px);
    background-color: #ffffff;
    transition: all 0.4s ease;
    z-index: 4;
    opacity: 1;
}

.open {
    opacity: 0;
}

.contact__groups-wrapper {
    position: relative;
    height: 100vh;
}

.contact__groups-header_continer {
    padding: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.contact__groups-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact__groups-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
}

.contact__groups-close {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-radius: 6px;
    min-width: 24px;
    height: 24px;
    transition: 0.3s;
}

.contact__groups-close:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.contact__groups-cross {
    margin-top: 2px;
}

.contact__groups-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__groups-field {
    display: flex;
    height: 38px;
    margin-bottom: 16px;
}

.contact__groups-field:first-child {
    margin-top: 24px;
}

.contact__groups-field input {
    padding: 11px 10px;
    min-width: 214px;
    border: none;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.05);
}

.contact__groups-field input:focus {
    outline: none;
}

::placeholder {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.contact__groups-field span {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    background-color: #ffffff;
    padding: 9.5px 11.6px 9.5px 11.6px;
    font-size: 20px;
    transition: all 0.3s;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 6px;
    transition: 0.3s;
}

.contact__groups-field span svg {
    margin-bottom: 4px;
    margin-top: -2px;
    transition: 0.3s;
    pointer-events: none;
}

.contact__groups-field span:hover {
    background-color: #EA3D2F;
}

.delete-icon {
    width: 16px;
    height: 20px;
    background-color: black;
    -webkit-mask: url('delete-icon.svg') no-repeat center;
}

.contact__groups-field span:hover path {
    fill: white;
    opacity: 1;
}

.contact__groups-footer {
    position: absolute;
    right: 14px;
    bottom: 24px;
}

.add {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-radius: 6px;
    min-width: 98px;
    height: 38px;
    margin-right: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #005BFE;
    transition: 0.3s;
}

.add:hover {
    background-color: rgba(0, 91, 254, 0.1);
}

.save {
    margin-right: 10px;
    background-color: #005BFE;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    height: 36px;
    line-height: 18px;
    min-width: 104px;
    padding: 8px 14px 10px 14px;
    transition: 0.3s;
    cursor: pointer;
}

.save:hover {
    background-color: #0047C6;
}

/*-----Add Contact Block-----*/
.contact__add {
    width: 312px;
    height: 100vh;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    backdrop-filter: blur(5px);
    background-color: #ffffff;
    transition: all 0.4s ease;
    z-index: 4;
    opacity: 1;
}

.hide {
    display: none;
}

.hide-option {
    display: none;
}

.add__open {
    opacity: 0;
}

.contact__add-wrapper {
    position: relative;
    height: 100vh;
}

.contact__add-header_continer {
    padding: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.contact__add-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact__add-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
}

.contact__add-close {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-radius: 6px;
    min-width: 24px;
    height: 24px;
    transition: 0.3s;
}

.contact__add-close:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.contact__add-cross {
    margin-top: 2px;
}

.contact__add-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__add-field {
    display: flex;
    height: 38px;
    margin-bottom: 16px;
}

.contact__add-field:first-child {
    margin-top: 24px;
}

.contact__add-field input {
    padding: 11px 10px;
    min-width: 264px;
    border: none;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.05);
}

.contact__add-field input:focus {
    outline: none;
}

::placeholder {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.contact__add-footer {
    position: absolute;
    right: 14px;
    bottom: 24px;
}

/*-----Accordion-----*/
.accordion {
    min-width: 100%;
    margin: 1rem auto;
    margin-top: 100px;
}

.accordion__item {
    margin-bottom: 1.5rem;
    border-radius: 6px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0.75rem 1.5rem;
    color: #005BFE;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    background-color: #ffffff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.accordion__header::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    margin-top: 8px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 8' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M10.8849 0.295044L6.29492 4.87504L1.70492 0.295044L0.294922 1.70504L6.29492 7.70504L12.2949 1.70504L10.8849 0.295044Z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: '';
    transition: transform 0.2s ease-out;
    opacity: .4;
}

.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
    transform: rotate(-180deg);
    margin-top: -6px;
}

.accordion__header:hover {
    background-color: rgba(0, 0, 0, .1);
}

.accordion__item:not(.accordion__item_show) .accordion__header {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.accordion__content {
    display: flex;
    flex-direction: column;
}

.line {
    position: absolute;
    width: 1112px;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 62px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.accordion__inner-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem;
    background: #fff;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.accordion__body {
    position: relative;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}

.accordion__right-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accordion__left_container {
    display: flex;
    align-items: center;
}

.accordion__person-data {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    opacity: 0.5;
}

.accordion__person-number {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    margin-right: 10px;
}

.accordion__left_container span {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #ffffff;
    padding: 6.5px 11.6px 9.5px 9.6px;
    font-size: 20px;
    transition: all 0.3s;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 6px;
    transition: 0.3s;
}

.accordion__left_container #accDeleteButton svg {
    pointer-events: none;
}

.accordion__left_container #editButton svg {
    pointer-events: none;
}

.accordion__left_container #accDeleteButton:hover {
    background-color: #EA3D2F;
}

.accordion__left_container #editButton:hover {
    background-color: #005BFE;
}

.accordion__left_container span:hover path {
    fill: white;
    opacity: 1;
}

/*-----Select-----*/
.select-box {
    display: flex;
    flex-direction: column;
    width: 264px;
}

.select-box {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.select-box .options-container {
    order: 1;
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    max-height: 0;
    opacity: 0;
    border-radius: 6px;
    transition: all .4s;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.non-selectable {
    pointer-events: none;
}

.selected {
    position: relative;
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    margin-bottom: 6px;
    order: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.selected::after {
    content: '';
    background: url('arrow-down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 13px;
    right: 13px;
    top: 15px;
    opacity: .4;
    transition: all .4s;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container.active+.selected::after {
    transform: rotateX(180deg);
    top: -15px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0.28);
    border-radius: 0 6px 6px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.23);
    border-radius: 0 6px 6px 0;
}

.select-box .option, .selected {
    padding: 11px 10px;
    cursor: pointer;
}

.select-box .option:hover {
    background-color: rgba(0, 0, 0, 0.18);
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}
